CONTENT_FLAVOR=lite
ACCESS_LEVEL=no-root
SUDO_ACCESS=false

GCSFUSE_VERSION=2.1.0
CLOUDSDK_VERSION=459.0.0
CSQL_PROXY_VERSION=2.8.1
ALLOYDB_PROXY_VERSION=1.6.1

USQL_VERSION=0.17.5

SSH_USER=user
SSH_PASS=pass

WEB_PORT=8080

IMAGE_NAME=cloud-run-ssh
IMAGE_TAG="${CONTENT_FLAVOR}-${ACCESS_LEVEL}"

DOCKERFILE="Dockerfile.${IMAGE_TAG}"

PROJECT_ID='...'
REPO_LOCATION='...'
REPO_NAME='...'

IMAGE_URI_BASE="${REPO_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPO_NAME}"
IMAGE_URI_FULL="${IMAGE_URI_BASE}/${IMAGE_NAME}:${IMAGE_TAG}"

export BUILD_TAG='...'
