CONTENT_FLAVOR='OneOf<lite|full|dev|app>'
ACCESS_LEVEL='OneOf<root|no-root>'

CREATE_KEY_PAIR=false
PASSWORD_ACCESS=false
SUDO_ACCESS=true

GCSFUSE_VERSION=2.7.0
YQ_VERSION=4.45.1
GOST_VERSION=3.0.0
CLOUDSDK_VERSION=516.0.0
CSQL_PROXY_VERSION=2.14.1
ALLOYDB_PROXY_VERSION=1.11.3
USQL_VERSION=0.19.19
DOCKER_VERSION=28.0.1
GCREDS_HELPER_VERSION=2.1.25
VSCODE_VERSION=4.98.0

SSH_USER=OneOf<root|user>
SSH_PASS=pass

APP_PORT=8080
WEB_PORT=8022
DEV_PORT=8088

PROJECT_ID='...'
REPO_LOCATION='...'
REPO_NAME='...'

IMAGE_NAME=cloud-run-ssh
IMAGE_TAG="${CONTENT_FLAVOR}-${ACCESS_LEVEL}"

DOCKERFILE="Dockerfile.${IMAGE_TAG}"

IMAGE_URI_BASE="${REPO_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPO_NAME}"
IMAGE_URI_FULL="${IMAGE_URI_BASE}/${IMAGE_NAME}:${IMAGE_TAG}"

BUILD_TAG="${CONTENT_FLAVOR}-${ACCESS_LEVEL}"
